

<div class="container">

    <h1>Page Login </h1>
    <hr>
<form action="" method="POST">
 
<Label  for="user" id="user">first Name</Label>
<input type="text" name="user" placeholder="UserName .." required />



<Label  for="psw">PassWard</Label>
<input type="password"  name="psw" placeholder="PassWord .." required />
<input type="submit" value="Submit" />

<div class="content" style="background-color:#f1f1f1">
    <button type="reset" class="button">Cancel</button>
    <span class="ins">Forgot <a href="#">password?</a></span>
  </div>
</form>

</div>