<div class="container">

        <h1>Page Sign Up </h1>
        <hr>
    <form action="" method="POST">
     
    <Label  for="user" id="user">     UserName</Label>
    <input type="text" name="user" placeholder="UserName .." required />

    <Label  for="user" id="user">   Last Name</Label>
    <input type="text" name="user" placeholder="UserName .." required />

    <Label  for="user" id="user">   Email Adress</Label>
    <input type="text" name="user" placeholder="UserName .." required />

    <Label  for="user" id="user">   Confirm Email Adress</Label>
     <input type="text" name="user" placeholder="UserName .." required />
    
    <Label  for="psw">   PassWord</Label>
    <input type="password"  name="psw" placeholder="PassWord .." required />
    <Label  for="psw">   Confirm PassWord</Label>
     <input type="password"  name="psw" placeholder="PassWord .." required />

    <input type="submit" value="Submit" />
    
    </form>
    
    </div>
